<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos</title>
    <link rel="stylesheet" href="styles/main.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/scripts/app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Todo Management</h1>
      <p>Manage your (daily) todos with ease!</p>
    </header>
    <main id="todos-app">
      <!-- <h2>{{ newTodo }}</h2>
      <p>{{ newTodo }}</p> -->
      <section id="todo-management">
        <form @submit="saveTodo">
          <label for="text">Todo text</label>
          <input type="text" id="text" v-model="enteredTodoText" required />
          <button>Save</button>
        </form>
      </section>
      <section id="todos">
        <p v-if="todos.length === 0 && !isLoading">
          No todos added yet - maybe start adding some?
        </p>
        <p v-else-if="isLoading">Loading...</p>
        <ul v-else id="todos-list">
          <!-- the element we set v-else should be a direct neighbor of the element which we added v-if -->
          <li v-for="todo in todos">
            <!-- todos is the data key we've written for the array in app.js -->
            <!-- todo is a variable we create right now and we can use that -->
            <!-- variable to access certain keys like text: which sits inside the todos array. -->
            <p>{{ todo.text }}</p>
            <div>
              <button @click="startEditTodo(todo.id)">Edit</button>
              <button @click="deleteTodo(todo.id)">Delete</button>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
